
  <div class="row vh-100 bg-white   mx-0" style="border-radius: 20px;">
    <div class="row">
      <div class="col-12">
        <form action="">
        <div class="row">
          <div class="col-4  mx-3 mt-5">
            <label for="curp" class="form-label"><p>CURP <b style="color: #139EDD">*</b></p> </label>
            <input type="text" class="border-bottom form-control inputsData" id="curp" name="curp" maxlength="18" minlength="18" style="text-transform: uppercase; ">

          </div>
          <div class="col-12">
            <div class="row mx-2 mt-4">
              <div class="col-4">
                <label for="nombre" class="form-label"><p>Nombre (s) <b style="color: #139EDD">*</b></p> </label>
                <input type="text" required class="border-bottom form-control inputsData"  id="nombre" name="nombre">
              </div>
              <div class="col-4">
                <label for="apellido" class="form-label"><p>Primer Apellido<b style="color: #139EDD">*</b></p> </label>
                <input type="text" required class="border-bottom form-control inputsData"  id="apellido" name="apellido">
              </div>
              <div class="col-4">
                <label for="apellido1" class="form-label"><p>Segundo Apellido<b style="color: #139EDD">*</b></p> </label>
                <input type="text" required class="border-bottom form-control inputsData"  id="apellido1" name="apellido1">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row mx-2 mt-4">
              <div class="col-4">
                <label for="instituto" class="form-label"><p>Institución <b style="color: #139EDD">*</b></p> </label>
                <input type="text" required class="border-bottom form-control inputsData"  id="instituto" name="instituto">
              </div>
              <div class="col-4">
                <button type="button" (click)="agregarRegistro()" class="btn btn-outline mt-5 w-75" style="color:white; font-weight: bold; background-color: #139EDD; border-radius: 30px; font-size: 17px;">Guardar</button>
              </div>
            </div>
          </div>

        </div>
        </form>
      </div>

    </div>
  </div>
