<div class="row g-4">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
                <a routerLink="home" style="color: #139EDD; font-size:18px;" routerLinkActive="active" class="nav-item nav-link"><i class="bi bi-journal-text"></i> Registros</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <a class="nav-item nav-link" style="color: grey; font-size:18px;">| Tarjeta de presentacion</a>
            </div>
        </div>
        <div class="bg-white h-auto p-4" style="border-radius: 20px;">
            <h1 style="color: black;" class="mb-5"><b>Tarjeta de información</b></h1>
            <div *ngFor="let list of lista">
                <p><b>Folio: </b> {{list.Id_registro}}</p>
                <p><b>CURP: </b>{{ list.CURP}}</p>
                <p> <b>Nombre Completo: </b> {{list.Nombre +" " + list.primer_apellido + " " + list.segundo_apellido}}</p>
                <p><b>Institución: </b> {{list.instituto}}</p>
            </div>
        </div>
    </div>
</div>