<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="assets/img/tesoreria.png" alt="" class="mx-4" width="115">
    </mat-toolbar>
    <mat-nav-list>
      <div class="navbar navbar-dark" style="width: 100%">
        <div class="navbar-nav w-100 " style="font-size: 17px">
          <a routerLink="home" routerLinkActive="active" class="nav-item nav-link"><i class="bi bi-journal-text"></i>Registros</a>
          <a routerLink="newregister"  routerLinkActive="active" class="nav-item nav-link "><i class="bi bi-plus-circle"></i>Nuevo Registro</a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: white; box-shadow: 0 0 7px 0 #DEE6EC">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img *ngIf="isHandset$ | async" src="assets/img/tesoreria.png" alt="" width="95">
      <img src="assets/img/logo.png" alt="" class="mt-4 m" width="90" style="margin: auto 2px 0 auto; ">
    </mat-toolbar>
    <div class="container-fluid pt-4 px-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
