<div class="row g-4">
    <div class="col-12">
        <div class="bg-white h-auto p-4" style="border-radius: 20px;">
            <div class="row">
                <div class="col-7">
                    <div class="col-3">
                        <form class="d-none d-md-flex ">
                            <input class="form-control border-0 " type="search" style="background-color: #F4F5FB; color: gray; border-radius: 30px;" placeholder="Buscar">
                        </form>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline" (click)="exportToExcel()" style="border: 3px solid #139EDD; color:#139EDD; font-weight: bold; border-radius: 30px; font-size: 17px;"><i class="bi bi-arrow-down-circle"></i> Descargar listado</button>
                        </div>
                        <div class="col-6">
                            <button type="button" routerLink="/newregister" class="btn btn-outline" style="color:white; font-weight: bold; background-color: #139EDD; border-radius: 30px; font-size: 17px;"><i class="bi bi-plus-circle"></i> Nuevo registro</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped text-center mt-4" id="data-table">
                <thead>
                    <tr style="color: #139EDD; font-weight: bold">
                        <th scope="col">Folio</th>
                        <th scope="col">CURP</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Institución</th>
                        <th scope="col">Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of lista">
                        <th scope="row">{{list.Id_registro}}</th>
                        <td>{{ list.CURP}}</td>
                        <td>{{list.Nombre +" " + list.primer_apellido + " " + list.segundo_apellido}}</td>
                        <td>{{list.instituto}}</td>
                        <td>
                            <div class="row align-content-center">
                                <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12" style="float: none; margin: 0 auto;">
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="rounded-circle" style="background-color: #EFF3F8; border: 0.5px solid white;"> <i class="bi bi-eye-fill" style="color: #139EDD"></i></button>
                                        </div>
                                        <div class="col-4">
                                            <button class="rounded-circle" [routerLink]="['/edit/', list.Id_registro]" routerLinkActive="router-link-active" style="background-color: #EFF3F8; border: 0.5px solid white;"> <i class="bi bi-pencil" style="color: #139EDD"></i></button>
                                        </div>
                                        <div class="col-4">
                                            <button class="rounded-circle" (click)="eliminar(list.Id_registro)" style="background-color: #EFF3F8; border: 0.5px solid white;"><i class="bi bi-trash" style="color: #139EDD"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
